.home-container {
  .title {
    text-align: center;
    margin: 10px;
    padding: 10px;
    .main-title {
      font-weight: 600;
      font-size: 1.1em;
      margin-bottom: 1.4em;
      display: inline-block;
    }
  }
}
