.home-container {
  .title {
    text-align: center;
    margin: 0.5em;
    padding: 0.5em;
    .main-title {
      font-weight: 600;
      font-size: 1.4rem;
      margin-bottom: 1.1em;
      display: inline-block;
    }
  }
}
