@import "../../styles/colors.scss";
.timer {
  .button-group {
    text-align: center;
    button {
      margin: 15px;
    }
  }
}
.base-timer {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: $color_deepgreen;
}

.base-timer__path-remaining.orange {
  color: $color_lightred;
}

.base-timer__path-remaining.red {
  color: $color_red;
}

.base-timer__label {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
}
