/* Coolors Exported Palette - coolors.co/476a6f-ccc5b9-519e8a-7eb09b-ed6a5a */

// /* HSL */
// $color1: hsla(188%, 22%, 36%, 1);
// $color2: hsla(38%, 16%, 76%, 1);
// $color3: hsla(164%, 32%, 47%, 1);
// $color4: hsla(155%, 24%, 59%, 1);
// $color5: hsla(7%, 80%, 64%, 1);

/* RGB */
$color_deepblue: rgba(71, 106, 111, 1);
$color_silver: rgba(204, 197, 185, 1);
$color_deepgreen: rgba(81, 158, 138, 1);
$color_green: rgba(126, 176, 155, 1);
$color_red: rgba(237, 106, 90, 1);
$color_lightred: rgb(229, 166, 157);
